/* Write your CSS here */

.place-container {
  list-style-type: none;
}

.image {
  border-radius: 10px;
  height: 150px;
  width: 250px;
}

.image-container {
  padding: 20px;
  align-items: center;
  float: left;
}

.each-image {
  float: left;
  padding: 10px;
}
